.dropdown{
    font-family: $font2;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    font-size: 1rem;

    & .value{
        cursor: pointer;
        position: relative;
        border-bottom: 2px solid $mediumGreen;
        height: 1rem;
        color: black;

        &::after{
            content:"▼";
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            transition : transform .2s linear;
        }
        &.dropped::after{
            transform: translateY(-50%) rotate(180deg);
            transform-origin: center;
        }
    }
}

.list{
    position: absolute;
    width: 100%;
    height: 7.5rem;
    border: 2px solid $lightGreen;
    background: $lightGreen;
    overflow-y: scroll;
    overflow-x: hidden;

    & li{
        cursor: pointer;
        padding: .5rem 0 .5rem .25rem;
        &:nth-child(odd){
            background: $white ;
        }
    }
}