@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&display=swap');

$font2: 'Lora', serif;

$font1: 'Montserrat', sans-serif;

$darkGreen: #5a6f08;
$mediumGreen: #93ad18;
$lightGreen: #cdd8a2;

$white: #ffffff;
$black: #000000;
$grey: #d9d9d9;
$greyFilter: #d9d9d940;
