@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Rosarivo&display=swap');

$font1: 'Lato', sans-serif;
$font2: 'Rosarivo', serif;

$font1b: 'Montserrat', sans-serif;

$darkGreen : #5A6F08;
$mediumGreen : #93AD18;
$lightGreen : #CDD8A2;

$white: #ffffff;
$black: #000000;
$grey: #d9d9d9;
$greyFilter: #d9d9d940;