@import '../utils/variables';

form.content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        'id . .'
        'id address address'
        'id address address'
        'work work save';
    gap: 1rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 1rem;
    width: calc(25vw - 2rem);
    max-width: 320px;
    height: calc(12vh - 2rem);
    background: $white;
    border-radius: 1.4rem;
    label {
        font-family: $font2;
    }
    input {
        border: none;
        border-bottom: 2px solid $mediumGreen;
        height: 1rem;
    }
}

.inputs-wrapper {
    display: flex;
    align-items: center;
}

.id-infos {
    grid-area: id;
    flex-direction: column;
}

.address-infos {
    position: relative;
    flex-wrap: wrap;
    height: 32vh;
    justify-content: space-evenly;
    grid-area: address;
    background: $grey;
    border-radius: 1.5rem;
    padding: 2.5rem 0 1rem 0;
    gap: 1rem;
    &::after {
        content: 'Address';
        position: absolute;
        font-size: 1.5rem;
        top: 0.5rem;
        left: 1rem;
    }
}

.work-infos {
    grid-area: work;
    justify-content: space-around;
}

.create-btn {
    grid-area: save;
    border: 4px solid $darkGreen;
    background: $lightGreen;
    color: $darkGreen;
    font-size: 2rem;
    font-family: $font1;
    text-transform: capitalize;
    border-radius: 1.25rem;
    cursor: pointer;
    &:hover {
        background: $darkGreen;
        color: $grey;
    }
}

.confirm-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $greyFilter;
    backdrop-filter: blur(5px);
    display: grid;
    place-content: center;
}

.confirm-modal-wrapper {
    font-size: 1.5rem;
    gap:1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.5;
    padding: 2.5rem 5rem;
    border: 5px solid $darkGreen;
    border-radius: 1.5rem;
    background: white;
}

.error{
    color:red;
}